<section class="main row">
    <div class="wrapper" style="width: 100%">
        <div class="grid">
            <div class="grid--order_1">
                <h1 class="lng_main_title row font--family_primary font--weight_700 font--color_primary main__title">
                    Японська масажна терапія
                </h1>
                <h4
                    class="lng_main_subtitle row font--family_primary font--weight_300 font--color_secondary main__subtitle">
                    Реабілітаційний масаж у японському виконанні
                </h4>
            </div>
            <div class="grid--order_2 row">
                <div class="position--relative">
                    <div class="photo_wrapper">
                        <div class="photo">
                            <img src="./assets/photoMaster.png" class="lng_main_photo photo__image"
                                alt="Фотографія Бортникова Бориса">
                            <div class="photo__cycle"></div>
                        </div>
                    </div>

                    {{> ../../elements/mainCard/index.handlebars card=1
                    title='3 сеанси' text='Результат'}}
                    {{> ../../elements/mainCard/index.handlebars svgHeart=true}}
                    {{> ../../elements/mainCard/index.handlebars card=2
                    title='5 років' text='Досвіду'}}
                    {{> ../../elements/mainCard/index.handlebars svgShield=true}}
                    {{> ../../elements/mainCard/index.handlebars card=3
                    title='1000+' text='Задоволених клієнтів'}}
                    {{> ../../elements/mainCard/index.handlebars svgPlus=true}}

                </div>
            </div>
            <div class="grid--order_3">
                <a href="#feedback"
                    class="control text--center box--display_inline_block control--actions control--bg_primary control--padding_primary border--radius">
                    <span class="lng_main_button_1 font--color_tertiary font--family_primary font--weight_700">
                        Записатись
                    </span>
                </a>
                <a href="#about"
                    class="control text--center box--display_inline_block control--actions control--bg__secondary control--padding_primary border--radius border--size_primary">
                    <span
                        class="lng_main_button_2 text--center font--color_primary font--family_primary font--weight_700">
                        Детальніше про техніку
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>