<section class="main section">
    <div class="wrapper">
        <h1 class="row row--justify-content text--center font--color_primary main__title">
            Японская массажная терапия
        </h1>
        <h4 class="row row--justify-content text--center font--color_secondary main__subtitle margin--bottom_primary">
            Реабилитационный массаж в японском исполнении
        </h4>
        <div class=" row row--justify-content margin--bottom_primary">
            <div class="photo">
                <div class="photo__cycle">
                    <img src="./assets/photoMaster.jpg" alt="Фотография Бортникова Бориса">
                </div>
            </div>
        </div>
        <div>
            <button class="control control--bg_primary control--padding_primary border--radius margin--bottom_primary">
                <p class="font--color_tertiary font--family_primary">Записаться</p>
            </button>
            <button class="control control--bg__secondary control--padding_primary border--radius border--size_primary">
                <p class="font--color_primary font--family_primary">Подробней о технике</p>
            </button>
        </div>
    </div>
</section>