<section class="main section">
    <div class="wrapper grid">
        <div class="order_1">
            <h1
                class="row row--justify_content_center row--justify_content_left_media_md text--center text--left_media_md font--family_primary font--weight_700 font--color_primary main__title">
                Японская массажная терапия
            </h1>
            <h4
                class="row row--justify_content_center row--justify_content_left_media_md text--center text--left_media_md font--family_primary font--weight_300 font--color_secondary main__subtitle margin--bottom_primary">
                Реабилитационный массаж в японском исполнении
            </h4>
        </div>
        <div class="order_2 row row--justify_content_center row--justify_content_left_media_md margin--bottom_primary">
            <div class="photo_wrapper">
                <div class="photo">
                    <div class="photo__cycle">
                        {{!-- <div class="card card__element_1">
                            <h5 class="card__title font--family_primary font--weight_300 font--color_secondary">title
                            </h5>
                            <p class="card_text font--family_primary font--weight_300 font--color_secondary">text</p>
                        </div>
                        <div class="card card__element_2">
                            <h5 class="card__title font--family_primary font--weight_300 font--color_secondary">title
                            </h5>
                            <p class="card_text font--family_primary font--weight_300 font--color_secondary">text</p>
                        </div>
                        <div class="card card__element_3">
                            <h5 class="card__title font--family_primary font--weight_300 font--color_secondary">title
                            </h5>
                            <p class="card_text font--family_primary font--weight_300 font--color_secondary">text</p>
                        </div> --}}
                        <img src="./assets/photoMaster.png" class="photo__image" alt="Фотография Бортникова Бориса">
                    </div>
                </div>
            </div>
        </div>
        <div class="order_3">
            <button
                class="control control--width_auto_media_md control--bg_primary control--padding_primary border--radius margin--bottom_primary">
                <p class="font--color_tertiary font--family_primary font--weight_700">Записаться</p>
            </button>
            <button
                class="control control--width_auto_media_md control--bg__secondary control--padding_primary border--radius border--size_primary">
                <p class="font--color_primary font--family_primary font--weight_700">Подробней о технике</p>
            </button>
        </div>
    </div>
</section>