<section id="about" class="about section section--full_screen section--center">
    <div class="wrapper">
        <div class="box--padding_bottom_20">
            <h2
                class="row row--justify_content_center text--center about__title font--family_primary font--weight_700 font--color_primary">
                Про меня
            </h2>
            <p
                class="row row--justify_content_center text--center about__text font--family_primary font--weight_300 font--color_secondary">
                Меня зовут Бортников Борис, яюмейхо терапевт "Школы Юрия Пасечника". Мне 36 лет. опыт профессиональной
                работы в этой
                обласли 5 лет, имею вторую ступень( из трех) по оценки уровня мастерства и знаний по " школе ю.п."
            </p>
            <p
                class="row row--justify_content_center text--center about__text font--family_primary font--weight_300 font--color_secondary">
                Меня зовут Бортников Борис, яюмейхо терапевт "Школы Юрия Пасечника". Мне 36 лет. опыт профессиональной
                работы в этой
                обласли 5 лет, имею вторую ступень( из трех) по оценки уровня мастерства и знаний по " школе ю.п."
            </p>
        </div>
        <hr class="about__line">
        <div class="under_line row">
            {{> ../../elements/underLineCard/index title="36" text='лет'}}
            {{> ../../elements/underLineCard/index title="5" text='лет опыта'}}
            {{> ../../elements/underLineCard/index title="1000+" text='довольных клиентов'}}
        </div>
    </div>
    <div class="image_make_massage box--margin_bottom_20">
        <div class="image_make_massage__image">
        </div>
    </div>
</section>