<section class="about section section--full_screen">
    <div class="wrapper">
        <div class="padding--bottom_primary">
            <h2
                class="row row--justify_content_center text--center about__title font--family_primary font--weight_700 font--color_primary">
                Про меня
            </h2>
            <p
                class="row row--justify_content_center text--center about__text font--family_primary font--weight_300 font--color_secondary">
                Меня зовут Бортников Борис, яюмейхо терапевт "Школы Юрия Пасечника". Мне 36 лет. опыт профессиональной
                работы в этой
                обласли 5 лет, имею вторую ступень( из трех) по оценки уровня мастерства и знаний по " школе ю.п."
            </p>
            <p
                class="row row--justify_content_center text--center about__text font--family_primary font--weight_300 font--color_secondary">
                Меня зовут Бортников Борис, яюмейхо терапевт "Школы Юрия Пасечника". Мне 36 лет. опыт профессиональной
                работы в этой
                обласли 5 лет, имею вторую ступень( из трех) по оценки уровня мастерства и знаний по " школе ю.п."
            </p>
        </div>
        <hr class="about__line">
        <div class="under_line row">
            <span class="under_line__card row row--direction">
                <h4 class="under_line__title text--center font--family_primary font--weight_700 font--color_primary">
                    36
                </h4>
                <p class="under_line__text text--center font--family_primary font--weight_400 font--color_secondary">
                    лет
                </p>
            </span>
            <span class="under_line__card row row--direction ">
                <h4 class="under_line__title text--center font--family_primary font--weight_700 font--color_primary">
                    5
                </h4>
                <p class="under_line__text text--center font--family_primary font--weight_400 font--color_secondary">
                    лет опыта
                </p>
            </span>
            <span class="under_line__card row row--direction">
                <h4 class="under_line__title text--center font--family_primary font--weight_700 font--color_primary">
                    1000+
                </h4>
                <p class="under_line__text text--center font--family_primary font--weight_400 font--color_secondary">
                    довольных клиентов
                </p>
            </span>
        </div>
    </div>
</section>
<section class="section image_make_massage">
    <img class="image_make_massage__image" src="./assets/imageMakeMassage.png"
        alt="Image how master do a massage to a client">
</section>