<section id="about" class="about">
    <div class="wrapper">
        <div class="box--padding_bottom_20">
            <p
                class="row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Меня зовут Борис, я дипломированный специалист Школы юмейхо-терапии Юрия
                Пасечника. Опыт
                профессиональной работы в этой области – 5 лет.
            </p>
            <p
                class="row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Юмейхо пришел к нам из Японии. Это особый массаж глубоких тканей, а при
                необходимости – с манипуляцией
                суставов для коррекции позвоночника и таза. Специальная техника Юмейхо направлена на улучшение работы
                центральной и
                вегетативной нервных систем, улучшение циркуляции крови, а также носит общеоздоровительный характер. Как
                результат –
                снятие боли, улучшение подвижности суставов, снижается напряженность мышц, улучшается осанка. Можно
                отметить и много
                других приятных эффектов.
            </p>
            <p
                class="row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Массаж выполняется на специальном столе, спина массируется с использованием
                лечебных масел и кремов,
                массаж конечностей – через одежду.
            </p>
        </div>
        <hr class="about__line">
        <div class="under_line row">
            {{> ../../elements/underLineCard/index title="36" text='лет'}}
            {{> ../../elements/underLineCard/index title="5" text='лет опыта'}}
            {{> ../../elements/underLineCard/index title="1000+" text='довольных клиентов'}}
        </div>
    </div>
</section>