<section id="about" class="about section section--full_screen section--center">
    <div class="wrapper">
        <div class="box--padding_bottom_20">
            <p
                class="row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Меня зовут Борис, я дипломированный специалист Школы юмейхо-терапии Юрия
                Пасечника. Опыт
                профессиональной работы в этой области – 5 лет.
            </p>
            <p
                class="row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Юмейхо пришел к нам из Японии. Это особый массаж глубоких тканей, а при
                необходимости – с манипуляцией
                суставов для коррекции позвоночника и таза. Специальная техника Юмейхо направлена на улучшение работы
                центральной и
                вегетативной нервных систем, улучшение циркуляции крови, а также носит общеоздоровительный характер. Как
                результат –
                снятие боли, улучшение подвижности суставов, снижается напряженность мышц, улучшается осанка. Можно
                отметить и много
                других приятных эффектов.
            </p>
            <p
                class="row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Массаж выполняется на специальном столе, спина массируется с использованием
                лечебных масел и кремов,
                массаж конечностей – через одежду.
            </p>
        </div>
        <hr class="about__line">
        <div class="under_line row">
            {{> ../../elements/underLineCard/index title="36" text='лет'}}
            {{> ../../elements/underLineCard/index title="5" text='лет опыта'}}
            {{> ../../elements/underLineCard/index title="1000+" text='довольных клиентов'}}
        </div>
    </div>
    <div class="wrapper">
        <div class="gallery">
            <img class="gallery__item border--radius box--shadow_primary" src="./assets/primaryImageOfGallery.png"
                alt="Image of gallery">
            <img class="gallery__item border--radius box--shadow_primary" src="./assets/secondaryImageOfGallery.png"
                alt="Image of gallery">
            <img class="gallery__item border--radius box--shadow_primary" src="./assets/tertiaryImageOfGallery.png"
                alt="Image of gallery">
            <img class="gallery__item border--radius box--shadow_primary" src="./assets/quaternaryImageOfGallery.png"
                alt="Image of gallery">
        </div>
    </div>
    <div class="view_item__wrapper">
        <div class="view_item__body">
            <img class="view_item__img" src="./assets/primaryImageOfGallery.png"
                alt="Image of gallery that you clicked">
            <svg class="view_item__close" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
                width="30px" height="30px">
                <path
                    d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z" />
            </svg>
        </div>
    </div>
</section>