<section id="about" class="about">
    <div class="wrapper">
        <div class="box--padding_bottom_20">
            <p
                class="lng_about_text_1 row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Мене звуть Борис, я дипломований спеціаліст Школи юмейхо-терапії Юрія Пасечника.
                Досвід професійної роботи у цій галузі – 5 років.
            </p>
            <p
                class="lng_about_text_2 row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Юмейхо прийшов до нас із Японії. Це особливий масаж глибоких тканин, а за
                потреби – з маніпуляцією суглобів для корекції
                хребта і тазу. Спеціальна техніка Юмейхо спрямована на покращення роботи центральної та вегетативної
                нервових систем,
                поліпшення циркуляції крові, а також має загальнооздоровчий характер. Як результат – зняття болю,
                покращення рухливості
                суглобів та постави, зниження напруженості м'язів. Можна відзначити багато інших приємних ефектів.
            </p>
            <p
                class="lng_about_text_3 row row--justify_content_center about__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;Масаж виконується на спеціальному столі, спина масажується з використанням
                лікувальних олій та кремів, масаж кінцівок –
                через одяг.
            </p>
        </div>
        <hr class="about__line">
        <div class="under_line row">
            {{> ../../elements/underLineCard/index title='36' numberId=1 text='років'}}
            {{> ../../elements/underLineCard/index title='5' numberId=2 text='років досвіду'}}
            {{> ../../elements/underLineCard/index title='1000+' numberId=3
            text='задоволених клієнтів'}}
        </div>
    </div>
</section>