.about {
    &__text {
        margin-bottom: 1em;
        @include adaptive-font(26, 18);
    }
    &__line {
        border: none;
        background-color: $colorPrimary;
        height: 2px;
    }
}

.image_make_massage {
    width: 100%;
    

    &__image {
        height: 50vh;
        max-height: 720px;
        background-image: url('../../assets/images/imageMakeMassage.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}











