.about {
    &__text {
        margin-bottom: 1em;
        @include adaptive-font(26, 18);
    }
    &__line {
        border: none;
        background-color: $colorPrimary;
        height: 2px;
    }
}