.main_card {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);

    @media (min-width: 510px) {
        padding: 15px;
    }

    @media (min-width: 1400px) and (min-height: 700px) {
        padding: 20px;
    }

    &__title {
        @include adaptive-font(25, 15);
        margin-bottom: 5px;
        
        @media (min-width: 1200px) {
            margin-bottom: 10px;
        }
        @media (max-height: 550px) and (min-width: 992px) {
            font-size: 15px;
        }
    }
    &__text {
        @include adaptive-font(20, 12);
        @media (max-height: 550px) and (min-width: 992px) {
            font-size: 12px;
        }
    }
    
    &__element {
        &_1 {
            position: absolute;
            top: 10%;
            left: 0%;
            transform: translate(0%, 0%);
            @media (min-width: 992px) and (max-height: 550px) {
                transform: translate(-25%, -25%); 
            }
        }
        &_2 {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%, -50%);
            
            @media (min-width: 460px) {
                transform: translate(50%, -50%);
            }
        }
        &_3 {
            position: absolute;
            top: 80%;
            left: 0%;
            transform: translate(0%, 0%);
            @media (min-width: 992px) and (max-height: 550px) {
                top: auto;
                bottom: 0%;
                transform: translate(-25%, 25%); 
            }
        }
        @for $i from 1 through 3 {
            &_#{$i} {
                
            }
        }

        
        &_svg_1 {
            position: absolute;
            top: 10%;
            right: 10%;
            transform: translate(0%, 0%);
            @media (max-width: 1700px) {
                transform: translate(20%, 0%); 
            }
        }
        &_svg_2 {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%, -50%);

            @media (min-width: 460px) {
                transform: translate(-50%, -50%);
            }
            @media (min-width: 1050px) {
                transform: translate(-50%, -50%);
            }
        }
        &_svg_3 {
            position: absolute;
            top: 80%;
            right: 10%;
            transform: translate(0%, 0%);
            @media (max-width: 1700px) {
                transform: translate(10%, 0%); 
            }
        }
        @for $i from 1 through 3 {
            &_svg_#{$i} {
                svg {
                    width: $cardElementSvgSize;
                    height: auto;
                    path {
                        fill: $colorPrimary;
                    }
                    @media (min-width: 400px) {
                        width: calc($cardElementSvgSize + 5px);
                        height: auto;
                    }
                    @media (min-width: 1400px) and (min-height: 550px) {
                        width: calc($cardElementSvgSize + 10px);
                        height: auto;
                    }
                    @media (min-width: 992px) and (max-height: 500px) {
                        width: 20px;
                    }
                }
                @media (min-width: 992px) and (max-height: 430px) {
                    display: none;
                }
            }
        }
        @for $i from 1 through 3 {
            $index: 20;
            &_#{$i} {
                z-index: $index;
            }
            &_svg_#{$i} {
                z-index: $index;
            }
        }
    }
}
