<section id="cost" class="section section--full_screen section--center">
    <div class="wrapper box--width_full">
        {{> ../../elements/costCard/index

        classes='box--margin_bottom_20 box--margin_bottom_80_media_md'

        title='Получасовой'
        text='Lorem ipsum dolor sit amet, consecteturadipiscing elit. Ultrices ornare non erat dui. Lorem ipsum dolor
        sit amet, consecteturadipiscing elit. Ultrices ornare non erat dui. Lorem ipsum dolor sit amet,
        consecteturadipiscing elit. Ultrices ornare non erat dui. Lorem ipsum dolor sit amet, consecteturadipiscing
        elit. Ultrices ornare non erat dui.'

        srcImg='./assets/imageLightBackBody.png'
        altImg='Картинка спины, получасовой сеанс'

        cost='600'
        }}

        {{> ../../elements/costCard/index

        classes=''

        title='Часовой'
        text='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices ornare non erat dui.'

        srcImg='./assets/imageBackBody.png'
        altImg="Картинка спины, часовой сеанс"

        cost='600'
        }}
    </div>
</section>