<div id="cost" class="cost_map__wrapper_costs">
    {{> ../../elements/costCard/index

    classes=''

    title='Получасовой массаж'
    text='В сеанс входит диагностика нарушений опорно-двигательной системы, массаж глубоких тканей и манипуляции
    для
    коррекции положения позвоночника и таза.'

    srcImg='./assets/imageLightBackBody.png'
    altImg='Картинка спины, получасовой массаж'

    cost='600'
    }}

    {{> ../../elements/costCard/index

    classes=''

    title='Часовой массаж'
    text='Включает в себя то же, что и получасовой, плюс массаж нижних конечностей (ноги и стопы), также
    возможны
    варианты.'

    srcImg='./assets/imageBackBody.png'
    altImg="Картинка спины, часовой массаж"

    cost='1200'
    }}
</div>