<div id="cost" class="cost_map__wrapper_costs">
    {{> ../../elements/costCard/index

    numberId='1'

    title='Напівгодинний масаж'
    text='До сеансу входить діагностика порушень опорно-рухової системи, масаж глибоких
    тканин та маніпуляції для корекції положення хребта та тазу.'

    cost='700'
    }}

    {{> ../../elements/costCard/index

    numberId='2'

    title='Часовий масаж'
    text='Включає те ж, що і півгодинний, плюс масаж нижніх кінцівок (ноги і стопи), також можливі варіанти.'

    cost='1200'
    }}
</div>