#cost {
    display: flex;
    gap: 10px;
    flex-direction: column;

    padding-bottom: 20px;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    @media (min-width: 992px) {
        padding: 0px;
        flex-direction: column;
    }
}