<div class="under_line__card row row--direction">
    <h4 class="under_line__title text--center font--family_primary font--weight_700 font--color_primary">
        {{title}}
    </h4>
    <p
        class="lng_about_under_line_card_{{numberId}} under_line__text text--center font--family_primary font--weight_400 font--color_secondary">
        {{text}}
    </p>
</div>