.under_line {
    &__card {
        padding: 0px 5px;
        flex: 33%;

        @media (min-width: 576px) {
            padding: 0px 10px;
        }
    }
    &__title {
        margin-top: 1em;
        margin-bottom: 0.5em;
        @include adaptive-font(25, 22);
    }
    &__text {
        margin-bottom: 2em;
        @include adaptive-font(20, 18);
    }
}