.under_line {
    &__card {
        flex: 33%;
    }
    &__title {
        margin-top: 1em;
        margin-bottom: 0.5em;
        @include adaptive-font(25, 20);
    }
    &__text {
        margin-bottom: 2em;
        @include adaptive-font(20, 15);
    }
}