<footer class="footer section section--full_screen section--center">
    <form class="footer_wrapper wrapper box--width_full" id="feedbackForm">
        <div class="footer__order_1 form position--relative" id="feedback">
            <p class="form__title font--color_primary font--family_primary font--weight_700">Задайте вопрос или
                оформите заявку
            </p>
            <input
                class="form__input control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="name" type="text" placeholder="Как к вам обращаться?" required>

            <input
                class="form__input control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="phone" type="tel" placeholder="Ваш номер телефона?" required>

            <textarea
                class="form__textarea control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="question" placeholder="Тут вы можете оставить вопрос или комментарий"></textarea>
            <div class="area">
                <p id="areaTitle"
                    class="area__title font--color_secondary font--family_primary font--weight_700 box--margin_bottom_20">
                    Успешно
                </p>
                <p id="areaText"
                    class="area__text font--family_primary font--weight_500 font--color_secondary font--color_gray box--margin_bottom_10">
                    До следующий отправки осталось:
                </p>
                <p id="areaTime"
                    class="area__text font--family_primary font--weight_500 font--color_secondary font--color_gray box--margin_bottom_10">
                </p>
                <button
                    class="area__button control control--actions control--bg_primary control--padding_primary border--radius">
                    <span class="font--color_tertiary font--family_primary font--weight_700">
                        Принять
                    </span>
                </button>
            </div>
        </div>
        <div id="footerOrder2" class="footer__order_2 row--flex row--justify_content_center position--relative">
            <button type="submit"
                class="form__submit control control--actions control--bg_primary control--padding_primary border--radius">
                <span class="font--color_tertiary font--family_primary font--weight_700">
                    Отправить
                </span>
            </button>
        </div>
        <div class="footer__order_3 contact" id="contact">
            <div class="contact__section row row--direction">
                <h6 class="contact__title font--color_primary font--family_primary font--weight_700">
                    Телефон
                </h6>
                <a href="tel:+38 096 170 53 76"
                    class="contact__text contact__text--hover font--color_secondary font--family_primary font--weight_400">
                    +38 (096) 170 53 76
                </a>
                <a href="tel:+38 050 687 76 85"
                    class="contact__text contact__text--hover font--color_secondary font--family_primary font--weight_400">
                    +38 (050) 687 76 85
                </a>
            </div>
            <div class="contact__section row row--direction">
                <h6 class="contact__title font--color_primary font--family_primary font--weight_700">
                    Эл. почта
                </h6>
                <a href="mailto:borisbortnikov@gmail.com"
                    class="contact__text contact__text--hover font--color_secondary font--family_primary font--weight_400">
                    borisbortnikov@gmail.com
                </a>
            </div>
            <div class="contact__section row row--direction">
                <h6 class="contact__title font--color_primary font--family_primary font--weight_700">
                    Адрес
                </h6>
                <p class="contact__text font--color_secondary font--family_primary font--weight_400">
                    Киев (десять минут от
                    метро Позняки)
                </p>
            </div>
        </div>
    </form>
</footer>