<footer class="footer section section--full_screen section--center">
    <form class="footer_wrapper wrapper box--width_full">
        <div class="footer__order_1 form" id="feedback">
            <input
                class="form__input control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="firstName" type="text" placeholder="Имя" required>

            <input
                class="form__input control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="lastName" type="text" placeholder="Фамилия" required>

            <input
                class="form__input control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="phone" type="tel" placeholder="Номер телефона" required>

            <textarea
                class="form__textarea control control--padding_primary border--radius border--size_primary font--color_secondary font--family_primary font--weight_700"
                name="text" placeholder="Вопрос" required></textarea>
        </div>
        <div class="footer__order_2 row--flex row--justify_content_center">
            <button
                class="form__submit control control--actions control--bg_primary control--padding_primary border--radius"
                type="submit">
                <span class="font--color_tertiary font--family_primary font--weight_700">
                    Отправить
                </span>
            </button>
        </div>
        <div class="footer__order_3 contact" id="contact">
            <div class="contact__section row row--direction">
                <h6 class="contact__title font--color_primary font--family_primary font--weight_700">
                    Телефон
                </h6>
                <p class="contact__text font--color_secondary font--family_primary font--weight_400">
                    +38 (096) - 170 - 53 - 76
                </p>
                <p class="contact__text font--color_secondary font--family_primary font--weight_400">
                    +38 (050) - 687 - 76 - 85
                </p>
            </div>
            <div class="contact__section row row--direction">
                <h6 class="contact__title font--color_primary font--family_primary font--weight_700">
                    Эл. почта
                </h6>
                <p class="contact__text font--color_secondary font--family_primary font--weight_400">
                    borisbortnikov@gmail.com
                </p>
            </div>
            <div class="contact__section row row--direction">
                <h6 class="contact__title font--color_primary font--family_primary font--weight_700">
                    Адрес
                </h6>
                <p class="contact__text font--color_secondary font--family_primary font--weight_400">
                    Киев (десять минут от
                    метро Позняки)
                </p>
            </div>
        </div>

    </form>
</footer>