<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Массажист с опытом работы, лечебный массаж, Киев. Masseur with experience, therapeutic massage, Kyiv.">
    <meta name=”robots” content="index, follow">
    <title>
        {{htmlWebpackPlugin.options.title}}
    </title>
</head>

<body id="main">
    {{> components/header/index}}
    <main>
        {{> components/main/index}}
        {{> components/about/index}}
        {{> components/map/index}}
        {{> components/cost/index}}
    </main>
    {{> components/footer/index}}
</body>

</html>