<!DOCTYPE html>
<html lang="ua">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Массажист с опытом работы, лечебный массаж, Киев. Masseur with experience, therapeutic massage, Kyiv.">
    <meta name=”robots” content="index, follow">
    <link rel="alternate" hreflang="ua" href="{{window.location.pathname}}/" />
    <link rel="alternate" hreflang="ru" href="{{window.location.pathname}}/ru" />
    <link rel="alternate" hreflang="en" href="{{window.location.pathname}}/en" />
    <title>
        {{htmlWebpackPlugin.options.title}}
    </title>
</head>

<body id="main">
    {{> components/header/index}}
    <main>
        {{> components/main/index}}
        {{> components/about/index}}
        {{> components/gallery/index}}
        <section class="cost_map">
            <div class="wrapper cost_map__body">
                {{> components/cost/index}}
                {{> components/map/index}}
            </div>
        </section>
    </main>
    {{> components/footer/index}}
</body>

</html>