// Assets
@import './assets/variables.scss';
@import './assets/fonts.scss';

// Components
@import "./components/header/styles.scss";
@import "./components/main/styles.scss";

// Styles
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.wrapper {
    max-width: calc(#{$maxWidth + px});
    margin: 0px auto;
    padding: 0px 15px;
}

.section {
    padding: 15px 0px;

    @media (min-width: 576px) {
        padding: 20px 0px;
    }
    @media (min-width: 1200px) {
        padding: 25px 0px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    &--justify_between {
        justify-content: space-between;
    }
    &--justify-content {
        justify-content: center;
    }
    &--align-center {
        align-items: center;
    }
}

.text {
    &--center {
        text-align: center;
    }
}

.control {
    width: 100%;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &--padding {
        &_primary {
            padding: 15px;
        }
    }

    &--bg_primary {
        background-color: $colorPrimary;
    }

    &--bg__secondary {
        background-color: transparent;
    }
    
}

.border {
    &--radius {
        border-radius: 5px;
    }
    &--size_primary {
        border: 2px solid $colorPrimary;
    }
}

.margin {
    &--bottom_primary {
        margin-bottom: 20px;
    }
}