// Assets
@import './assets/variables.scss';
@import './assets/fonts.scss';

// Components
@import "./components/header/styles.scss";
@import "./components/main/styles.scss";
@import "./components/about/styles.scss";
@import "./components/cost/styles.scss";
@import "./components/footer/styles.scss";

// Elements
@import "./elements/navLink/styles.scss";
@import "./elements/mainCard/styles.scss";
@import "./elements/underLineCard/styles.scss";
@import "./elements/costCard/styles.scss";



$controlPadding: 15px;

// Styles
* {
    margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    scroll-behavior: smooth;
}
a, 
a:active,
a:hover {
    outline: none;
    text-decoration: none;
    color: $colorSecondary;
}

.wrapper {
    max-width: calc(#{$maxWidth + px});
    margin: 0px auto;
    padding: 0px 15px;

    @media (min-width: 576px) {
        padding: 0px 30px;
    }
    @media (min-width: 768px) {
        padding: 0px 50px;
    }
    @media (min-width: 992px) {
        padding: 0px 80px;
    }
    @media (min-width: 1200px) {
        padding: 0px 150px;
    }
    @media (min-width: 1400px) {
        padding: 0px 200px;
    }
    @media (min-width: #{$maxWidth + px + 200px}) {
        padding: 0px 0px;
    }
}

.section {
    padding: 15px 0px;

    &--not_padding {
        padding: 0px;
    }

    &--full_screen {
        @media (min-width: 992px) {
            min-height: 100vh;
        }
    }
    &--center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: 576px) {
        padding: 30px 0px;
    }
    @media (min-width: 756px) {
        padding: 60px 0px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    &--flex {
        display: flex;
    }

    &--justify_content {
        &_center {
            justify-content: center;
        }
        &_left {
            justify-content: left;
            
            @media (min-width: 700px) {
                &_media_md {
                    justify-content: left;
                }
            }
            @media (min-width: 992px) {
                &_media_lg {
                    justify-content: left;
                }
            }
        }
        &_between {
            justify-content: space-between;
        }
        &_around {
            justify-content: space-around;
        }
    }
    &--align {
        &_items_center {
            align-items: center;
        }
        &_items_end {
            align-items: flex-end;
        }
    }
    &--direction {
        flex-direction: column;
    }
}

.text {
    &--center {
        text-align: center;
        
    }
    &--left {
        @media (min-width: 576px) {
            &_media_sm {
                text-align: left;
            }
        }
        @media (min-width: 768px) {
            &_media_md {
                text-align: left;
            }
        }
        @media (min-width: 992px) {
            &_media_lg {
                text-align: left;
            }
        }
        @media (min-width: 1200px) {
            &_media_xl {
                text-align: left;
            }
        }
        @media (min-width: 1400px) {
            &_media_xxl {
                text-align: left;
            }
        }
    }
}

.control {
    width: 100%;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    opacity: 1;

    &--actions {
        &:hover {
            cursor: pointer;
        }
        &:hover, &:focus {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }

    &--padding {
        &_primary {
            padding: $controlPadding;
            &.border--size_primary {
                padding: #{$controlPadding - 2px};
            }
        }
    }
    &--margin {
        &_primary {
            margin: 15px;
        }
    }

    &--bg_primary {
        background-color: $colorPrimary;
    }

    &--bg__secondary {
        background-color: transparent;
    }

    &--width_auto {
        @media (min-width: 576px) {
            &_media_sm {
                width: auto;
            }
        }
        @media (min-width: 768px) {
            &_media_md {
                width: auto;
            }
        }
        @media (min-width: 992px) {
            &_media_lg {
                width: auto;
            }
        }
        @media (min-width: 1200px) {
            &_media_xl {
                width: auto;
            }
        }
        @media (min-width: 1400px) {
            &_media_xxl {
                width: auto;   
            }
        }
    }
    
}

.border {
    &--radius {
        border-radius: 5px;
    }
    &--size_primary {
        border: 2px solid $colorPrimary;
    }
}

.box {
    &--display_inline_block {
        display: inline-block;
    }
    &--width_full {
        width: 100%;
    }
    &--margin_bottom {
        
        &_10 {
            margin-bottom: 10px;
        }
        &_20 {
            margin-bottom: 20px;
        }
        &_80 {
            margin-bottom: 80px;
            @media (min-width: 768px) {
                &_media_md {
                    margin-bottom: 80px;
                }
            }
            @media (min-width: 992px) {
                &_media_lg {
                    margin-bottom: 80px;
                }
            }
        }
    }
    &--padding_bottom {
        &_10 {
            padding-bottom: 10px;
        }
        &_20 {
            padding-bottom: 20px;
        }
    }
    &--shadow_primary {
        box-shadow: 0px 0px 10px -5px #888888;
    
    
    
    }
}

.position {
    &--relative {
        position: relative;
    }
    &--fixed {
        position: fixed;
    }
    &--absolute {
        position: absolute;
    }
}