#map {
    margin-top: 20px;
    min-height: 300px;

    @media (min-width: 992px) {
        margin-top: 50px;
    }
}
.leaflet__icon {
    height: 41px;
    position: relative;
    transform: translate(-15%, -0%);
    path {
        fill: $colorPrimary;
    }
}