.cost_card {
    $paddingMobile: 15px;
    $paddingDesktop: 30px; 
    $mediaChange: 576px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;

    padding: $paddingMobile;

    @media (min-width: $mediaChange) {
        padding: $paddingDesktop;
    }

    &__title {
        @include adaptive-font(25, 24);
        padding-bottom: 1em;
        
        @media (min-width: $mediaChange) {
        }
    }
    &__text {
        @include adaptive-font(20, 18);
        margin-bottom: 1em;
    }
    &__value {
        @include adaptive-font(25, 24);
    }
    &__currency {
        @include adaptive-font(20, 15);
    }
}